<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
	<script src='https://www.google.com/recaptcha/api.js'>
	</script>
	<title></title>
</head>
<body>
	<div class="main">
		<center>
			{% block body %} {% if session['logged_in'] %}
			<p>You're logged in already!</p>{% else %}
			<form action="/login" method="post">
				<input name="username" placeholder="Username" type="username">
                <input name="password" placeholder="Password" type="password"> {% if config['use_recaptcha'] %}
				<div class="g-recaptcha" data-sitekey="{{ recaptcha_public }}"></div>
                {% else %}<br>
				WARNING, reCaptcha is disabled!<br>
				{% endif %} <input type="submit" value="Log in">
			</form>
		{% endif %} {% endblock %}
        </center>
	</div>
</body>
</html>